<div class="container mt-5 mb-5" >
  <div class="row">
    <div class="col-sm-4 m-auto">
      <form action="/products/searchresult" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="searchporducts" placeholder="search">
        </div>
        <button type="submit" class="btn btn-primary">search</button>
      </form>
    </div>
  </div>
</div>