<div class="container mt-5">
  <h1>Welcome to Home</h1>
  <div class="row">
    <div class="col-sm-3">Sidebar</div>
    <div class="col-sm-9">
      <%- include components/search %>
      <%- include components/products %>
    </div>
  </div>
</div>